@import 'tailwind/base';
@import 'tailwind/components';
@import 'tailwind/utilities';


/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #e1b1e4;
    /* Color of the thumb */
    border-radius: 4px;
    /* Radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    
    background: #f193ea;
    /* Color of the thumb on hover */
}